@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

@theme inline {
  /* --color-background: var(--background); */
  /* --color-foreground: var(--foreground); */
  /* --color-primary: #ea580c; */
  /* --color-secondary: #042f2c; */
  --color-primary: #042f2c;
  --color-secondary: #ea580c;
  --color-font-title: #333333;
  --color-bg-color: #faf5f1;
  --color-card-bg: #ebebeb;
  --color-white: #ffffff;
  --color-black: #000000;
  --font-sans: var(--font-poppins);
  --font-jark: var(--font-plusJakartaSans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}
